body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}
.bashka{
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
    width: 350px;

}
h1{
    text-align: center;
    margin-bottom: 20;
}
.nn{
    margin-bottom: 15px;
}
input[type="text"],input[type="txt"],input[type="txt"],input[type="txy"],input[type="txy"],input[type="txy"],input[type="date"]{
    width: 80%;
    padding: 10px;
    border: 3bx solid #ccc; 
    border-radius: 30px;
    margin-top: 10px;

}
button{
    width: 100%;
    color: white;
    background-color: rgb(214, 10, 180);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
button:hover{
    background-color: blue;
}
.cv{
margin: 15px;
text-align: center;


}
.v{
    margin: 15px;
text-align: center;

}
a{
    color: blue;
}