.vv{
    font-family: 'Times New Roman', Times, serif;
    
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
      width: 100vh;
    background-color: #f4f4f4;

}
body{
    align-items: center;
    justify-content: center;
}